Data/FashionMNIST/raw/t10k-images-idx3-ubyte
Data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
Data/FashionMNIST/raw/t10k-labels-idx1-ubyte
Data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
Data/FashionMNIST/raw/train-images-idx3-ubyte
Data/FashionMNIST/raw/train-images-idx3-ubyte.gz
Data/FashionMNIST/raw/train-labels-idx1-ubyte
Data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
Data/MNIST/raw/t10k-images-idx3-ubyte
Data/MNIST/raw/t10k-images-idx3-ubyte.gz
Data/MNIST/raw/t10k-labels-idx1-ubyte
Data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Data/MNIST/raw/train-images-idx3-ubyte
Data/MNIST/raw/train-images-idx3-ubyte.gz
Data/MNIST/raw/train-labels-idx1-ubyte
Data/MNIST/raw/train-labels-idx1-ubyte.gz
Data/titanic/gender_submission.csv
Data/titanic/test.csv
Data/titanic/train.csv
Data/
